*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    
    

}
h1{
    font-size: 50px;
    margin: 50px;
    font-style: italic;
}
.blog-container{ 
text-align: center;
border: 2px solid red;
border-radius: 10px;


}
.blog-post{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
   

}
.blog-card{
    border: 2px solid black;
  width: 30%;
  padding: 20px;
  transition: 0.7s;
     
}
.blog-card:hover{
    background-color: rgba(128, 128, 128, 0.643);
    color: aliceblue;
    border-radius: 10px;
}
.blog-card img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}
h2{
font-style: italic;
margin-top: 10px;
}

button{
      margin: 10px;
      padding: 10px 20px;
      border: 2px solid black;
      background-color: white;
}
.blog-card p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.blog-btn button:hover{
    border: 2px solid white;
}